.h2nav{
    font-weight: 600;
    font-size: 30px;
    padding-block: 15px;
    padding-inline-start: 20px;
}

.nav{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-weight: 700;
    font-size: 20px;
    padding-inline-start: 20px;
    margin-bottom: 40px;
}